@import './variables.scss';

.wrap{
    display:flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    .lang{
        position: absolute;
        top:0;
        right:0;
        width:135px;
        .el-button-group {
            display: flex;
               button {
                   //width:100%;
                   span {
                       display: flex;
                       align-items: center;
                       img {
                        width:24px;
                        height:24px;
                        margin-right: 5px;
                    }
                   }
               }
           }
    }
    &__title{
        text-align: center;
    }
    &__buttons {
        margin:0 auto;
        
        &__icon {
            height:40px;
            width:40px;
            z-index:9999;
            position: absolute;
            left: 5px;
            top:5px;
            &:hover {
               cursor: default;;
            }
        }
        &__icon2 {
            height:50px;
            width:50px;
            position: absolute;
            left: 5px;
            top:5px;
        }
    }
    &__map {
        display:flex;
        flex-direction: column;
        justify-content: center;
        &__query {
            min-width:450px;
            margin: 10px auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 160px;
            .el-input-group {
                &__append {
                    padding:0 10px;
                }
            }
            .validator {
                display:flex;
                align-items: center;
                width:255px;
                position: relative;
                margin-right: 20px;
                .el-icon-warning{
                    position: absolute;
                    right: -25px;
                    top: 15px;
                    color:#630303;
                }
                .el-input {
                    &__inner {
                        height:50px;
                        border-radius: 0 5px 5px 0;
                    }
                }
                .el-button {
                    background-color:$minority-bk-color;
                    color:$text-color;
                    border:none;
                    border-radius: 5px 0 0 5px;
                    position: relative;
                    height:50px;
                    width:50px;
                }
                .distance {
                    .el-input {
                        &__inner {
                            border-radius: 0 ;
                        }
                    }
                }
            }
        }
    }
}

.el-dropdown {
    &-menu {
        width:135px;
        &__item {
            //width:135px;
            .flag {
                display: flex;
                align-items: center;
                img {
                    width:24px;
                    height:24px;
                    margin-right: 5px;
                }
            }
        }
    }
    &__caret-button {
        width:30px;
    }
   
}

.button-wrap {
    .el-button {
        width:85px;
        color:#000000ab;;
    }
    .box-shadow {
        border: 1px solid #ffffffb5;
        color:white;
        &--blue {
            background: linear-gradient(to bottom, #18a8ec, #23a8bdbf);
            &:hover {
                background: #fff;
                color:#23a8bdbf;
            }
        }
        &--red {
            background: linear-gradient(to bottom, #e75174, #c44479bf);
            &:hover {
                background: #fff;
                color:#c44479bf;
            }
        }
    }
}
.info-area {
    display:flex;
    flex-direction: column;
    &__tip {
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
            width: 40px;
            height:40px;
            margin-right: 10px;
        }
    }
}
//google map info dialog
.gm-style-iw-d {
    color:black;
    max-width: none;
    max-height: none;
}
.gm-style-iw-c {
    padding:10px;
    border-radius: 4px;
}
.gm-ui-hover-effect {
    top: -3px!important;
    right: -3px!important;
}
.location-name {
    font-weight: 500;
}
