@import './variables.scss';

.wrap{
    display:flex;
    flex-direction: column;
    justify-content: center;
    
    &__title{
        text-align: center;
        margin-top: 40px;
        position: relative;
        &--btns {
            position: absolute;
            right:25px;
            top:-30px;
            .bg-transparent {
                margin-left: 10px;
                width:100px;
                &.el-button {
                    background:transparent;
                    border:2px solid $minor-bk-color;
                    color:$minor-bk-color;
                    &:hover {
                        color:$text-color;
                        background: $minor-bk-color
                    }
                }
            }
        }
    }
    &__buttons {
        margin:0 auto;
        background-color:$minor-bk-color;
        color:$text-color;
        border:none;
        border-radius: 5px 0 0 5px;
        position: relative;
        height:50px;
        width:50px;
        min-width: 50px;
        &__icon {
            height:40px;
            width:40px;
            z-index:999;
            position: absolute;
            left: 5px;
            top:5px;
            &:hover {
               cursor: default;;
            }
        }
        &__icon2 {
            height:50px;
            width:50px;
            position: absolute;
            left: 5px;
            top:5px;
        }
    }
    &__map {
        display:flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width:1279px) {
            margin:0 25px;
        }
        &__query {
            //min-width:450px;
            //margin: 10px auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 160px;
            .el-input-group {
                &__append {
                    padding:0 10px;
                }
            }
            .validator {
                display:flex;
                align-items: center;
                width:255px;
                position: relative;
                //margin-right: 20px;
                .el-icon-warning{
                    position: absolute;
                    right: -25px;
                    top: 15px;
                    color:$err-color;
                }
                .el-input {
                    &__inner {
                        height:50px;
                        border-radius: 0 5px 5px 0;
                    }
                }
               
                .distance {
                    .el-input {
                        &__inner {
                            border-radius: 0 ;
                        }
                    }
                }
            }
        }
    }
}
.el-autocomplete {
    width:205px;
}
.el-autocomplete-suggestion li:hover {
    background-color:  rgba($primary-bk-color,0.6)!important;
}

.el-button {
    border-radius: 0 !important;
}
.el-dropdown {
    &-menu {
        width:110px;
        border: 1px solid $primary-bk-color!important;
        &__item {
            //width:135px;
            .flag {
                display: flex;
                align-items: center;
                img {
                    width:24px;
                    height:24px;
                    margin-right: 5px;
                }
                .nation {
                    @media (max-width:1279px) {
                       
                    }
                }
            }
            &:not(.is-disabled):hover {
                background-color: rgba($primary-bk-color,0.6) !important;
                color:$minor-bk-color!important;
            }
        }
    }
    &__caret-button {
        width:30px;
    }
   
}

.button-wrap {
    .el-button {
        width:85px;
        color:#000000ab;;
    }
    .box-shadow {
        border: 1px solid #ffffffb5;
        color:white;
        &--blue {
            background: linear-gradient(to bottom, #18a8ec, #23a8bdbf);
            &:hover {
                background: #fff;
                color:#23a8bdbf;
            }
        }
        &--red {
            background: linear-gradient(to bottom, #e75174, #c44479bf);
            &:hover {
                background: #fff;
                color:#c44479bf;
            }
        }
    }
}
.info-area {
    display:flex;
    flex-direction: column;
    position: relative;
    &__tip {
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
            width: 40px;
            height:40px;
            margin-right: 10px;
        }
    }
    .lang{
        width:110px;
        margin:10px 5px;
        .el-button {
            background-color: transparent;
        }
        .el-button:focus, .el-button:hover {
            background-color: rgba($primary-bk-color,0.6);
            color:$minor-bk-color;
        }
        .el-button-group {
            display: flex;
               button {
                   //width:100%;
                   span {
                       display: flex;
                       align-items: center;
                       img {
                        width:24px;
                        height:24px;
                        margin-right: 5px;
                    }
                   }
               }
           }
    }
}
//google map info dialog
.gm-style-iw-d {
    color:black;
    max-width: none;
    max-height: none;
}
.gm-style-iw-c {
    padding:10px;
    border-radius: 4px;
}
.gm-ui-hover-effect {
    top: -3px!important;
    right: -3px!important;
}
.location-name {
    font-weight: 500;
}

.err {
    .el-input__inner {
        border: 1px solid $err-color;
    }
    .distance .el-input {
            border: 1px solid $err-color;
    }
}